# Workday RaaS Report
WORKDAY_URL=https://wd2.myworkday.com/ccx/service/customreport2/tenant/ISU_profile/report_name
WORKDAY_USERNAME=ISU_Integration_User@tenant
WORKDAY_PASSWORD=
WORKDAY_FORMAT=json

#Mapping File
MAPPINGS_PATH=C:\Users\skhanna\Desktop\tableau_workday_export\mapping.yaml

# Tableau Cloud
TABLEAU_SERVER_URL=https://prod-useast-a.online.tableau.com
TABLEAU_SITE_ID=your-site-name
TABLEAU_TOKEN_NAME=your-pat-name
TABLEAU_TOKEN_VALUE=
TABLEAU_PROJECT_NAME=Default
TABLEAU_DATASOURCE_NAME=Workday Data
TABLEAU_UNIFIED_DATASOURCE_NAME=Unified Student Data

#Power Campus
POWERCAMPUS_SERVER=SERVER NAME
POWERCAMPUS_DATABASE=DATABASE NAME

# Microsoft Graph API (failure email alerts)
GRAPH_TENANT_ID=
GRAPH_CLIENT_ID=
GRAPH_CLIENT_SECRET=
ALERT_FROM_EMAIL=etl-alerts@yourdomain.com
ALERT_TO_EMAILS=you@yourdomain.com

# Output paths
OUTPUT_DIR=D:\SMU\tableau_workday_export\output
LOG_DIR=D:\SMU\tableau_workday_export\logs
LOG_RETENTION_DAYS=30
